@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "./cards.css";
@import "./flex.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  width: 100%;
  min-height: 100vh;

  background: rgba(224, 231, 255, 1);
  color: rgba(33, 33, 33, 1);

  font-family: "Inter", sans-serif;
}

.page {
  width: 100%;
  min-height: 100vh;
}

.field {
  width: 100%;
  max-width: 400px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.field > h5 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

input {
  display: block;
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 254, 242, 1);

  padding: 5px;
  color: rgba(33, 33, 33, 1);
  height: 20px;
}

.field > input {
  height: 32px;
}

input.invalid {
  border: 1px solid rgba(255, 0, 0, 1);
}

button {
  font-size: 17px;
  font-weight: 600;
  background: rgba(82, 141, 255, 1);
  color: rgba(33, 33, 33, 1);
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;
}

button.large {
  width: 250px;
  height: 60px;
}

.pt-20 {
  padding-top: 20px;
}

.flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.radio-group label {
  font-size: 17px;
  font-weight: 600;
  margin-right: 10px;
}

.radio-group input[type="radio"] {
  width: 20px;
  height: 20px;
}

.cards-table {
  row-gap: 20px;
  column-gap: 150px;

  margin: 0 auto;
  margin-top: 30px;

  max-width: 1050px;
  width: 100%;
}

.cards-table.large {
  max-width: 1300px;
}

.card-info > p {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

.go-back-button {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 30px;

  width: 30px;
  height: 3opx;

  background: transparent;
}

.records-filters input {
  margin-left: 10px;
  height: 30px;
}
